<div class="gift">
    <img src="{{gift.link_productimage}} ">
    <div><pre>{{gift.gifts}}  €{{gift.price}}</pre>
    {{gift.description}}</div>

    <div class="buttons">
        <div>
            <button  class="btn-yuno btn-gift webshoplink">
               <img  src="images/ic_toshop.png"> Naar de verkoopwebsite
            </button>
            <button

                    onclick="window.plugins.socialsharing.share('Message only')"
                    class="btn-yuno btn-gift">
                <img src="images/ic_share.png">Delen
            </button>

        </div>
    </div>

</div>