<!--<pre>
  Price: {{price}}
  Filter: {{filter}}
</pre>-->

<div class="row gifts">
    <button class="btn btn-yuno-blue btn-lg back" ng-click="back()">&lt;</button>
    <button class="btn btn-yuno-blue btn-lg next" ng-click="next()">&gt;</button>
    <div class="title">Het ideale cadeau</div>
    <img class="image" ng-src="{{gift().image}}" />
    <div class="name">{{gift().name}}</div>
    <div class="description">{{gift().description}}</div>

</div>

<div class="navbar navbar-fixed-bottom">
  <div class="container footer">
    <div class="row row-medium">
      <a class="btn btn-yuno-blue btn-lg btn-block" href="http://bol.com">Bestel bij bol.com</a>
    </div>
  </div>
</div>