<div class="row questions">


    <div class="question">Wat is je budget?</div>
    <div>
        <div class="slider-tags">
            <div class="tag tag-100">€100+</div>
            <div class="tag tag-5">€0</div>
        </div>
        <div id="slider" class="slider">

        </div>
    </div>

    <div class="multiple-choice-cont">
        <div>
            <button class="btn-search-gifts btn-yuno " ng-click="next(questions[step].answers[0])">
                Zoek kado's
            </button>

        </div>
    </div>

    <div class="price-label"></div>



</div>