@font-face
{
	font-family: TrashHand;
	src: url('../fonts/TrashHand.TTF');
}

.btn {
	font-family: TrashHand, Verdana;
}

.header {
	background: #009BBC;
	height: 75px;
	border-bottom: #FFBBD7 solid 5px;
}

.header .logo{
	margin: 15px 5px;
}

.content {
	margin-top: 75px;
}

.start{

}
.start span.trashHand {
	font-family: TrashHand, Verdana;
}

.start .top{
	background: #000;
	color:#FFF;
	text-align: center;
	padding: 25px;
	font-size: 28px;
}

.start .bottom{
	text-align: center;
	padding: 25px;
	font-size: 20px;
}

.price {
	background: #141918;
}

.price .title{
	margin: 15px 0;
	text-align: center;
	font-size: 28px;
	color: #FFF;
}

.price .title strong{
	font-family: TrashHand, Verdana;
}

.slider {
	height: 300px;
	margin: 75px auto;
	border: none;

}

.slider .label {
	background: url('../images/slider_label.png');
	height: 100px;
	width: 125px;
	display: block;
	position: absolute;
	left:25px;
	top: -50px;
	
}

.slider .label span {
	display: block;
	color: #000;
	font-size: 40px;
	width: 100px;
	text-align: center;
	position: absolute;
	left:22px;
	top: 30px;	
	color:#FFF;

}

.btn-yuno-blue {
	background: #009BBC;
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
	border-radius: 0;
}

.btn-yuno-pink {
	background: #FFBBD7;
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
	border-radius: 0;
}

.btn-yuno-green {
	background: #87E634;
	font-size: 28px;
	font-weight: bold;
	color: #FFF;
	border-radius: 0;
}

.questions{

}

.questions .title{
	background: #000;
	color:#FFF;
	padding:15px;
	font-size: 28px;
	text-align: center;
	font-family: TrashHand, Verdana;
}

.questions .question{
	padding:15px;
	font-size: 18px;
	padding:30px;
	text-align: center;
}

.gifts{
	position: relative;
	margin-bottom:75px;
}

.gifts .next{
	position: fixed;
	right: 0px;
	top:50%;
	background: #FFBBD7;
	font-size: 40px;
}

.gifts .back{
	position: fixed;
	left: 0px;
	top:50%;
	background: #FFBBD7;
	font-size: 40px;
}

.gifts .title{
	background: #000;
	color:#FFF;
	padding:15px;
	font-size: 28px;
	text-align: center;
	font-family: TrashHand, Verdana;
}

.gifts .image{
	width: 100%;
	display: block;
	margin-bottom: 20px
}

.gifts .name{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}