.header {
	background: #009BBC;
	height: 75px;
}

.header .logo{
	margin: 15px 5px;
}

.content {
	margin-top: 75px;
}

.start{

}

.start .top{
	background: #000;
	color:#FFF;
	text-align: center;
	padding: 15px;
	font-size: 24px;
}

.start .bottom{
	text-align: center;
	padding: 15px;
	font-size: 24px;
}

.price {
	height: 75px;
	background: #141918;
}

.price .title{
	margin: 17px 0;
	text-align: center;

}

.slider {
	height: 300px;
	margin: 50px auto;
	border: none;

}

.slider .label {
	background: url('../images/slider_label.png');
	height: 100px;
	width: 125px;
	display: block;
	position: absolute;
	left:25px;
	top: -50px;
	
}

.slider .label span {
	display: block;
	color: #000;
	font-size: 40px;
	width: 100px;
	text-align: center;
	position: absolute;
	left:22px;
	top: 30px;	
	color:#FFF;

}

.btn-yuno-blue {
	background: #009BBC;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
}